@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{

    font-family: "Lato",sans-serif;
    font-size:1.5rem;

}

body{
    min-height: 100vh;
    display:flex;
    flex-flow:column nowrap;
}

main{
    flex-grow: 1;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap:1rem;

}

div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display:grid;
    place-content: center;
}


/* Transform Property */

div:first-child{
    background-color: yellow;
    /* transform: translateX(50%); */
    /* transform: rotateX(180deg); */
    /* transform : scaleX(120%); */


    /* transform: skewX(10deg); */
}

div:nth-child(2){
    background-color: dodgerblue;
    /* transform : translateY(-2rem); */
    /* transform: rotateY(180deg); */
    /* transform: scaleY(120%); */
    /* transform: skewY(-10deg); */
}

div:last-child{
    background-color: lime;
    /* transform:translate(100%, -5rem); */


    /* transform: rotateZ(-45deg); */
    /* It rotates div clockwise on +ve input and anti-clockwise on -ve. */
    /* rotateZ() == rotate() */


    /* transform: scale(50%,50%); */
    /* transform: skew(10deg,10deg); */
} 


/* Transition Property */

div:hover{
    background-color:#ff6347 ;
    /* transition-property: background-color , transform ; */
    /* transition-property: all; */
    /* transition-duration: 0.5s , 1s; */
    /* transition delay is the time after the transition starts not between two transitions. */
    /* transition-delay: 3s; */ 

/*  transition : property duration timing-function delay  */
    transition: all 1s linear 0.1s;
    transition-timing-function: ease;

}

div:last-child:hover{
    transform: rotate(180deg);
    transition-delay : 0.2s;

}

/* Animations in CSS */
.animate{
    /* animation-name : slide;
    animation-duration: 5s;
    animation-timing-function : ease-in-out;
    animation-delay : 1s;
    animation-iteration-count : 5;
    animation-direction : normal;
    animation-fill-mode : forwards; */
    animation : 2s ease-in-out 1s 5 normal forwards slide;

        /* One more to learn */
    /* animation-play-state */
}

@keyframes slide {
    0%{
        transform : translateX(0);
    }

    33%{
        transform : translateX(300px) rotate(180deg);
    }
    66%{
        transform : translateX(-300px) rotate(-180deg);
    }
    100%{
        transform: translateX(0);
        background-color : cornflowerblue;
    }
    
}