
body{
    padding:10%;
    font-size: 2rem;
}




/* Some commonly used text properties */
/* 
p{
    text-decoration:underline;
    text-transform: capitalize;

    text-align: justify;
    text-indent: 6em; 

} */


/* Some more properties */









/* input,button{
    font:inherit;
}  */