@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    font-family: "Lato",sans-serif;
    font-size:2rem;
    min-height: 100vh;
    padding: 20px;

}

.container{
    border: 2px solid black;
    max-width: 800px;
    min-height: 400px;
    margin-inline:auto;
 
}

/* Applying flex to container */

.container{
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* gap:1.2rem; */
    align-items: flex-start;
    flex-direction: column;


}

.container{
    justify-content: center;
    align-items: center;
    gap:1em;
    /* flex-direction: row;
    flex-wrap: wrap;  */
    flex-flow: row wrap;
    align-content: space-evenly;

}
.box{
    height: 100px;
    min-width: 100px;
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
    padding: 0.6rem;

}

/* Now we will apply flex to individual items. */
.box{
    display:flex ;
    justify-content:center;
    align-items: center;
    /* For understanding clearly , commenting out 4 div */
    flex-basis: 100px;
    flex-grow: 1;
}
/* After 100px(flex-basis). So each elements get their 100px
    and then whatever is left, the one that has flex grow 2 is going to get twice much of that extra space
    as the element that has flex grow 1 */
.box:nth-child(2){
    flex-grow: 1;
}

.container{
    flex-flow: column wrap;
    
}

.box{
    flex-shrink:1;
}
.box:first-child{
    background-color: red;
    order : 5;
}
.box:nth-child(2){
    flex-shrink: 2;
    background-color: yellow ;
    order: 4;
}

/* flex: 1 1 250px
        grow shrink basis */
