@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
} */

body {
    margin: 2.5rem;
    font-family: "Lato", sans-serif;
    text-align: center;
}

h1{
    margin:2.4rem;
    font-size:4rem;
    display:inline;
    padding:2rem;
    background-color: gray;
    white-space: nowrap;
}